@import "./variables";

@import "./flex";

@import "./image";

// MAIN CODE:

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

* {
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

// header setup

h1 {
  margin: 0;
}

header {
  display: flex;
  @include flex_btw();

  margin: auto;
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  a {
    transition: 100ms;
    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}

a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  text-transform: uppercase;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.header-logo {
  display: flex;
  @include flex_row();

  width: 280px;
}

// How It Works

.h2-content {
  margin: 0;
  font-size: 90px;
  text-align: center;
}

#hiw {
  display: flex;
  @include flex_cntr();
  @include flex_clmn();

  width: auto;
  height: 550px;
  color: white;

  background: linear-gradient(0deg, $overlay_color, $overlay_color),
    url("../img/5d-move.gif");
  @include image_style();
}

.lm {
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 20px 30px;
  margin-top: 30px;
}

.content-description {
  color: white;
  background-color: #050505;
  padding: 40px;
  font-size: 30px;
}

// Prices

#prs {
  display: flex;
  @include flex_cntr();
  @include flex_clmn();

  width: auto;
  height: 550px;
  color: white;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("../img/5d-move-circle.gif");
  @include image_style();
}

#discover {
  height: auto;
  width: auto;
  background-color: black;
  padding: 30px 20px;
}

.price-columns {
  display: flex;

  @include flex_row();
  @include flex_btw();

  align-items: center;
}

.price-column {
  display: flex;

  @include flex_clmn();
  @include flex_btw();

  background-color: white;
  width: 90%;
  border: 3px solid gray;
  height: 750px;
  margin: 10px 5px;
  padding-bottom: 40px;
}

.hot-column {
  background-color: white;
  border: 5px solid orange;
  height: 800px;
}

.price-column-top {
  font-family: "Roboto Condensed", "Oswald", sans-serif;
  display: flex;

  @include flex_cntr();

  color: white;
  height: 200px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.price-column-amount {
  font-size: 30px;
  display: flex;

  @include flex_cntr();
}

.hot-amount {
  font-size: 40px;
  color: rgba(255, 166, 0, 0.829);
}

.price-column-decription {
  padding: 10px;
  font-size: 25px;
  display: flex;

  @include flex_cntr();
}

.price-column-bottom {
  display: flex;

  @include flex_cntr();

  button {
    background-color: black;
    font-size: 20px;
    border: 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 200ms;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;
      border: 2px solid black;
    }
  }
}

.basic {
  background: linear-gradient(0deg, $overlay_color, $overlay_color),
    url("../img/price-basic.jpg");

  @include image_style();
}

.hot {
  background: linear-gradient(0deg, $overlay_color, $overlay_color),
    url("../img/price-hot.png");
  @include image_style();
}

.plus {
  background: linear-gradient(0deg, $overlay_color, $overlay_color),
    url("../img/price-plus.png");
  @include image_style();
}

.advanced {
  background: linear-gradient(0deg, $overlay_color, $overlay_color),
    url("../img/price-advanced.png");
  @include image_style();
}

// footer

footer {
  color: white;
  background-color: black;
  border-top: 5px dashed white;
  height: 600px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../img/ball-rotate.gif");
  @include image_style();
}

.main {
  display: flex;

  @include flex_cntr();
  @include flex_row();

  width: auto;
  height: auto;
}

// ***

main {
  width: auto;
  margin: auto;
}

p {
  text-align: center;
}

footer {
  padding: 50px;
  width: auto;
  margin: auto;
}

.cwu {
  font-size: 50px;
}

.phone {
  font-size: 40px;
}

.email {
  font-size: 30px;
}

.github {
  height: 40px;
  font-size: 20px;
  position: sticky;
  bottom: 100px;
}

#gh {
  color: white;
  float: none;
  font-size: 25px;
}

// MEDIA *

// too huge body - fixed
@media screen and (min-width: 2888px) {
  body {
    width: 2888px;
    margin: auto;
  }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 800px) {
  header {
    display: block;
    a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      margin-top: 30px;
    }
  }
  .price-columns {
    display: flex;
    flex-direction: column;
  }
}
